.App {
  text-align: center;
}

.form-label {
  font-weight: 700;
  font-size: .9rem;
  padding-left: 1rem;
  margin-bottom: .25rem;
}

.form-box {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 15px #0f6296;
  padding: 4rem 3rem;
}

.user-form-box {
  margin-top: 5rem;
}
